body {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  background-color: rgb(0, 204, 255);
  font-size: 50px;
}

#board {
  height: 120vh;
  background-color: burlywood;
  grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr 0fr;
  display: grid;
  padding: 0 20px;
}

.card {
  width: 120px;
  height: 150px;
  margin: 1cm;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: 2px black solid;
  font-size: 300%;
  /*font-display: calc();*/
}
div {
}
